@use "colors";

/**
 * Un-styles anchor tags when the a-unstyle class is applied
 */
a.a-unstyle:link, a.a-unstyle:visited, a.a-unstyle:hover, a.a-unstyle:active {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Generate .theme-<color>-fg and .theme-<color>-bg classes
 */
@each $name, $value in colors.$all-colors {
  .theme-#{$name}-fg {
    color: $value !important;
  }
  .theme-#{$name}-bg {
    background-color: $value !important;
  }
}

.vjs-big-play-button {
  $big-play-width: 3em;
  /* 1.5em = 45px default */
  $big-play-height: 1.5em;

  line-height: $big-play-height !important;
  height: $big-play-height !important;
  width: $big-play-width !important;

  left: 50% !important;
  top: 50% !important;
  margin-left: -($big-play-width / 2) !important;
  margin-top: -($big-play-height / 2) !important;
}
